/**----------- Player start line -------*/
.player{
    display: block;
    position: relative;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background-color: #111;
}
.player-video{
    width: 100%;
    height: 100%;
    display: block;
}
.player-lrc{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 32px;
    z-index: 1;
}
.player-lrc-show{
    display: block;
}
.player-lrc-mode-1{
    font-size: 16px;
    line-height: 1.8;
}
.player-lrc-line{
    opacity: 0;
}
.player-lrc-line-active{
    color: #ff862a;
    opacity: 1;
}
.player-table{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    z-index: 0;
}
.player-controls{
    background-color: #333;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 2;
}
.player-controls-show{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.player-controls:hover{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.player-slider{
    background-color: #525050;
    height: 6px;
    cursor: pointer;
    position: relative;
}
.player-slider-buf,
.player-slider-thumb{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}
.player-slider-buf{
    background-color: #999;
    width: 0;
    z-index: 0;
}
.player-slider-thumb{
    z-index: 1;
    background-color: #2aa126;
}
.player-toolbar{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 0;
}
.player-toolbar::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
}
.player-toolbar-left{
    float: left;
}
.player-toolbar-right{
    float: right;
}
.player-toolbar-left::before,
.player-toolbar-right::after{
    content: '';
    display: inline-block;
    height: 32px;
    width: 8px;
    vertical-align: middle;
}
.player-btn,
.player-current-time,
.player-duration,
.player-volume-slider,
.player-fullscreen,
.player-vol-btn,
.player-vol-rect,
.player-vol-tri,
.player-vol-stat,
.player-vol-mute,
.player-rate{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.player-btn{
    cursor: pointer;
    width: 0;
    height: 0;
    color: #999;
    border-left: 12px solid;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin: 0 10px;
}
.player-btn:hover{
    color: #fff;
}
.player-btn-playing{
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 0;
    border-bottom: 0;
    width: 12px;
    height: 14px;
}
.player-current-time,
.player-duration{
    font-size: 14px;
    padding: 0 2px;
}
.player-duration{
    color: #ddd;
}
.player-vol-btn,
.player-vol-slidebar,
.player-vol-slide-track,
.player-rate,
.player-fullscreen{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.player-vol-btn{
    height: 22px;
    width: 32px;
    font-size: 0;
    cursor: pointer;
    margin-right: 8px;
    color: #999;
    padding: 3px;
}
.player-vol-btn:hover{
    color: #fff;
    background-color: #222;
}
.player-vol-rect{
    border-top: 6px solid;
    width: 3px;
    height: 0;
}
.player-vol-tri{
    border-right: 12px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 16px;
}
.player-vol-stat{
    font-size: 16px;
    margin-left: 4px;
}
.player-vol-dot1,
.player-vol-dot2,
.player-vol-dot3{
    border-top: 2px solid;
    width: 3px;
    height: 0;
    display: block;
}
.player-vol-dot2{
    margin: 3px 2px;
}
.player-vol-mute{
    font-size: 20px;
    line-height: 16px;
    font-family: Arial, sans-serif !important;
    display: none;
}
.player-muted .player-vol-dot1,
.player-muted .player-vol-dot2,
.player-muted .player-vol-dot3{
    display: none;
}
.player-muted .player-vol-mute{
    display: block;
}
.player-muted .player-vol-stat{
    margin-left: 0;
}
.player-muted .player-volume-slider-thumb{
    display: none;
}
.player-vol-slidebar{
    position: absolute;
    bottom: 110%;
    left: -2px;
    background-color: #222;
    width: 36px;
    height: 120px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
}
.player-vol-btn:hover .player-vol-slidebar{
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}
.player-vol-slide-track{
    height: 100px;
    width: 6px;
    background: #bbb;
    margin: 10px 15px;
    overflow: hidden;
    position: relative;
}
.player-vol-slider{
    width: 100px;
    height: 50%;
    background-color: #2aa126;
    position: absolute;
    left: 0;
    bottom: 0;
}
.player-rate{
    font-size: 14px;
    padding: 4px;
    line-height: 1;
    text-align: center;
    margin: 1px 5px;
    cursor: pointer;
}
.player-rate:hover{
    background-color: #222;
}
.player-fullscreen{
    width: 22px;
    height: 22px;
    margin-left: 8px;
    cursor: pointer;
    border: 3px solid transparent;
}
.player-fullscreen:hover{
    background-color: #222;
    border-color: #222;
}
.player-fullscreen-tl,
.player-fullscreen-tr,
.player-fullscreen-bl,
.player-fullscreen-br{
    position: absolute;
    width: 4px;
    height: 4px;
    border-width: 2px;
}
.player-fullscreen-tl{
    top: 0;
    left: 0;
    border-left-style: solid;
    border-top-style: solid;
}
.player-fullscreen-tr{
    top: 0;
    right: 0;
    border-top-style: solid;
    border-right-style: solid;
}
.player-fullscreen-bl{
    left: 0;
    bottom: 0;
    border-left-style: solid;
    border-bottom-style: solid;
}
.player-fullscreen-br{
    right: 0;
    bottom: 0;
    border-right-style: solid;
    border-bottom-style: solid;
}
.player-fullscreen-on .player-fullscreen-tl{
    border-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
}
.player-fullscreen-on .player-fullscreen-tr{
    border-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
}
.player-fullscreen-on .player-fullscreen-bl{
    border-style: none;
    border-right-style: solid;
    border-top-style: solid;
}
.player-fullscreen-on .player-fullscreen-br{
    border-style: none;
    border-left-style: solid;
    border-top-style: solid;
}

.r-loading,
.r-loadend{
    position: absolute;
    width: 120px;
    height: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 80px;
}
.r-loading::before,
.r-loading::after{
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: rotating 1s infinite;
    -o-animation: rotating 1s infinite;
    animation: rotating 1s infinite;
}
.r-loading::before{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.r-loading::after{
    width: 36px;
    height: 8px;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

@keyframes rotating {
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}


/**----------- Player end line -------*/

/**----------- Calendar start line -------*/
.calendar{
    max-width: 320px;
    margin: 0 auto;
}
.calendar-weeker{
    background: #82b1ea;
    color: #fff;
    font-weight: bolder;
}
.calendar-weeker-item,
.calendar-dater-item{
    display: inline-block;
    width: 12.2857%;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    padding: 3%;
    margin: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.calendar-dater{
    background: #e8e8e8;
}
.calendar-dater-item{
    background: #fff;
    border-radius: 4px;
    color: #333;
}
.calendar-dater-prev,
.calendar-dater-next{
    color: #fff;
    background: #d2d2d2;
}
.calendar-dater-active{
    background: #fb0;
    color: #fff;
    font-weight: bolder;
}
.calendar-picker{
    width: 4em;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
    position: relative;
    display: inline-block;
}
.calendar-picker-current{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*.calendar-picker-current:active,*/
/*.calendar-picker-current:focus{*/
    /*border-color: #82b1ea;*/
/*}*/
/*.calendar-picker-current:active~.calendar-picker-list{*/
    /*display: block;*/
/*}*/
.calendar-picker-list{
    display: none;
    border: 1px solid #82b1ea;
    position: absolute;
    width: 100%;
    height: 8em;
    overflow: auto;
    background: #fff;
    left: 0;
    top: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/**----------- Calendar end line -------*/

/**----------- ScaleControl start line -------*/
.scale-control{
    border: 1px solid #555;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scale-control-point{
    position: absolute;
    width: 8px;
    height: 8px;
    background: #82b1ea;
    border: 1px solid #555;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scale-control-top-left{
    top: -4px;
    left: -4px;
    cursor: nw-resize;
}
.scale-control-top-center{
    top: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: n-resize;
}
.scale-control-top-right{
    top: -4px;
    right: -4px;
    cursor: ne-resize;
}
.scale-control-mid-left{
    left: -4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: w-resize;
}
.scale-control-mid-center{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    cursor: move;
}
.scale-control-mid-right{
    right: -4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: e-resize;
}
.scale-control-bottom-left{
    left: -4px;
    bottom: -4px;
    cursor: ne-resize;
}
.scale-control-bottom-center{
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: n-resize;
}
.scale-control-bottom-right{
    bottom: -4px;
    right: -4px;
    cursor: nw-resize;
}
.scale-control-unselect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/**----------- ScaleControl end line -------*/

/**----------- Scrollbar start line -------*/
/**
    可修改样式（颜色，大小，自定义图片等），但注意相对定位和绝对定位的属性是必须的，不然可能会导致计算会出错
 */
.scroll-bar{
    position: absolute;
    background: #888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 1;
}
.scroll-y{
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}
.scroll-x{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
}
.scroll-thumb{
    position: relative;
    background: #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scroll-y .scroll-thumb{
    height: 0;
    width: 8px;
    margin: 0 1px;
}
.scroll-x .scroll-thumb{
    width: 0;
    height: 8px;
    margin: 1px 0;
}
.scroll-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.scroll-unselect{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/**----------- Scrollbar end line -------*/

/**----------- Rnav start line -------*/
.nav{
    background: #a00;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    height: 2em;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-ideograph;
}
.nav-show{
    height: auto;
}
.nav-item,
.nav-more{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-more{
    display: none;
}
.nav-active{
    background: #333;
}
.nav-more-show{
    display: inline-block;
}
/**----------- Rnav end line -------*/

