.player{
    display: block;
    position: relative;
    cursor: default;
    background-color: #111;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    border: 1px solid #eee;
}
.player-video{
    width: 100%;
    height: 100%;
    display: block;
}
.player-lrc{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 32px;
    z-index: 1;
}
.player-lrc-show{
    display: block;
}
.player-lrc-line{
    opacity: 0;
}
.player-lrc-line-active{
    color: #ff862a;
}
.player-table{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    z-index: 0;
}
.player-controls{
    background-color: #333;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 2;
}
.player-controls-show{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.player-controls:hover{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.player-slider{
    background-color: #525050;
    height: 6px;
    cursor: pointer;
    position: relative;
}
.player-slider-buf,
.player-slider-thumb{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}
.player-slider-buf{
    background-color: #999;
    width: 0;
    z-index: 0;
}
.player-slider-thumb{
    z-index: 1;
    background-color: #2aa126;
}
.player-toolbar{
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    white-space: nowrap;
    font-size: 0;
}
.player-toolbar-left{
    float: left;
}
.player-toolbar-right{
    float: right;
}
.player-btn,
.player-current-time,
.player-duration,
.player-volume-slider,
.player-fullscreen,
.player-volume-switch,
.player-volume-switch-rect,
.player-volume-switch-tri,
.player-volume-switch-stat,
.player-volume-switch-mute{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.player-btn{
    cursor: pointer;
    width: 0;
    height: 0;
    color: #999;
    border-left: 12px solid;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin: 0 5px;
}
.player-btn:hover{
    color: #fff;
}
.player-btn-playing{
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 0;
    border-bottom: 0;
    width: 12px;
    height: 14px;
}
.player-current-time,
.player-duration{
    font-size: 14px;
    padding: 0 2px;
}
.player-duration{
    color: #ddd;
}
.player-volume-switch{
    height: 16px;
    width: 32px;
    font-size: 0;
    cursor: pointer;
    margin-right: 8px;
    color: #999;
}
.player-volume-switch:hover{
    color: #fff;
}
.player-volume-switch-rect{
    border-top: 6px solid;
    width: 3px;
    height: 0;
}
.player-volume-switch-tri{
    border-right: 12px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 16px;
}
.player-volume-switch-stat{
    font-size: 16px;
    margin-left: 4px;
}
.player-volume-switch-dot1,
.player-volume-switch-dot2,
.player-volume-switch-dot3{
    border-top: 2px solid;
    width: 3px;
    height: 0;
    display: block;
}
.player-volume-switch-dot2{
    margin: 3px 2px;
}
.player-volume-switch-mute{
    font-size: 20px;
    line-height: 16px;
    font-family: Arial, sans-serif !important;
    display: none;
}
.player-muted .player-volume-switch-dot1,
.player-muted .player-volume-switch-dot2,
.player-muted .player-volume-switch-dot3{
    display: none;
}
.player-muted .player-volume-switch-mute{
    display: block;
}
.player-muted .player-volume-switch-stat{
    margin-left: 0;
}
.player-muted .player-volume-slider-thumb{
    display: none;
}
.player-volume-slider{
    width: 100px;
    height: 6px;
    background: #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 20px;
}
.player-volume-slider-thumb{
    width: 100%;
    height: 100%;
    display: block;
    background: #2aa126;
}
.player-fullscreen{
    width: 16px;
    height: 16px;
    margin: 1px 5px;
    cursor: pointer;
}
.player-fullscreen-tl,
.player-fullscreen-tr,
.player-fullscreen-bl,
.player-fullscreen-br{
    position: absolute;
    width: 4px;
    height: 4px;
    border-width: 2px;
}
.player-fullscreen-tl{
    top: 0;
    left: 0;
    border-left-style: solid;
    border-top-style: solid;
}
.player-fullscreen-tr{
    top: 0;
    right: 0;
    border-top-style: solid;
    border-right-style: solid;
}
.player-fullscreen-bl{
    left: 0;
    bottom: 0;
    border-left-style: solid;
    border-bottom-style: solid;
}
.player-fullscreen-br{
    right: 0;
    bottom: 0;
    border-right-style: solid;
    border-bottom-style: solid;
}
.player-fullscreen-on .player-fullscreen-tl{
    border-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
}
.player-fullscreen-on .player-fullscreen-tr{
    border-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
}
.player-fullscreen-on .player-fullscreen-bl{
    border-style: none;
    border-right-style: solid;
    border-top-style: solid;
}
.player-fullscreen-on .player-fullscreen-br{
    border-style: none;
    border-left-style: solid;
    border-top-style: solid;
}