.nav-bar{
    position: relative;
}
.nav{
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-ideograph;
}
.nav-show{
    height: auto;
}
.nav-item,
.nav-more{
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-item{
    display: inline-block;
}
.nav-more{
    display: none;
}
.nav-more-show{
    display: inline-block;
}
.nav-drop{
    display: none;
}
.nav-drop-show{
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
}